.docs {
  background-color : #ffffff;
  height           : 100%;
  display          : flex;
  flex-wrap        : nowrap;

  &__sidebar {
    background-color : #fbfbfb;
    width            : 360px;
    display          : inline-block;
    height           : 100%;
    flex-grow        : 0;
    flex-shrink      : 0;

    &-search {
      width          : 100%;
      background     : #f3f3f3;
      font-size      : 16px;
      font-style     : normal;
      font-weight    : 400;
      line-height    : 19px;
      letter-spacing : 0;
      text-align     : left;
      border         : 0;
      padding        : 20px 70px;
      outline        : none;
      margin   : {
        bottom : 86px;
      }
    }

    &-title {
      font-weight : 700;
    }

    &-link {
      &--active {
        color : #118267;
      }
    }
  }

  &__content {
    padding     : 37px 62px;
    display     : inline-block;
    flex-shrink : 0;
    flex-grow   : 1;
    height      : 100%;

    .header--link {
      text-decoration : none;
      color           : inherit;
    }

    h1 {
      font-weight   : 700;
      font-size     : 40px;
      margin-top    : 0;
      margin-bottom : 36px;
      line-height   : 48px;

      &:before {
        content       : '#';
        color         : #00a27c;
        padding-right : 10px;
      }
    }

    h2 {
      font-weight   : 700;
      font-size     : 25px;
      line-height   : 30px;
      margin-top    : 0;
      margin-bottom : 19px;
    }

    p {
      margin-top    : 0;
      margin-bottom : 26px;
    }

    pre {
      background    : #fbfafa !important;
      box-shadow    : 0 4px 4px rgba(0, 0, 0, 0.25);
      border-radius : 10px;
      padding       : 23px 36px;
      margin-bottom : 26px;

      code {
        background : #fbfafa !important;
      }
    }
  }
}