.nav {
  display         : flex;
  justify-content : space-evenly;
  flex-wrap       : nowrap;
  align-items     : center;

  &__item {
    display         : block;
    font-size       : 16px;
    line-height     : 19px;
    font-weight     : 400;
    border-radius   : 100px;
    padding  : {
      left   : 30px;
      right  : 30px;
      top    : 9px;
      bottom : 9px;
    }
    margin  : {
      left  : 34px;
      right : 34px;
    }
    color           : inherit;
    text-decoration : none;

    &--active {
      background  : #00a27c;
      color       : #ffffff;
      font-weight : 700;

      & + .nav__items {
        display : block!important;
      }
    }
  }

  &--docs {
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    font-size       : 16px;
    font-style      : normal;
    font-weight     : 400;
    line-height     : 19px;
    letter-spacing  : 0;
    text-align      : left;
    min-height      : 100%;

    .nav__group {
      display        : flex;
      flex-direction : column;
      margin-left    : 60px;
      margin-bottom  : 19px;

      .nav__items {
        display : none;
      }
    }

    .nav__item {
      padding : 0;
      margin  : 0 0 19px 15px;

      &:hover, &--active {
        color       : #118267;
        background  : none;
        font-weight : 400;
      }

      & + .nav__items {
        margin-left    : 20px;
      }
    }

    .nav__title {
      font-weight     : 700;
      margin-bottom   : 19px;
      margin-top      : 0;
      color           : #000000;
      text-decoration : none;

      &--active {
        color : #00a27c;

        & + .nav__items {
          display : block;
        }
      }
    }
  }
}